body {
    background-color: bisque;
    font-family: Arial, Helvetica, sans-serif !important;
    margin: 20px 40px 0 40px !important;
    
}

.jumbotron {
    text-align: center !important;
    background-color: bisque !important;
    color: darkblue !important;
}

.title {
    background-color: lightcyan;
    font-size: 20px;
}

iframe {
    text-align: center !important;
}

h3 {
    color: darkblue !important;
}

button {
    border-radius: 10px;
    padding: 15px 25px;
}

